@font-face {
  font-family: "Kashia";
  src: url("../fonts/Kashia-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kashia";
  src: url("../fonts/Kashia-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kashia";
  src: url("../fonts/Kashia-UltraBold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kashia";
  src: url("../fonts/Kashia-UltraBoldItalic.otf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kashia";
  src: url("../fonts/Kashia-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kashia";
  src: url("../fonts/Kashia-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-width: 0;
  transition: 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Kashia";
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

select {
  cursor: pointer;
}

.long-container {
  max-width: 192rem;
  margin: auto;
}

.container {
  max-width: 154.4rem;
  margin: auto;
}

.out-container {
  max-width: 160.8rem;
  margin: auto;
}

.tablet-margins {
  margin: 0 3.2rem;
}

.parent-border {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.autoflow {
  grid-auto-flow: column;
}

.img {
  width: 100%;
  height: auto;
  /* image-rendering: pixelated; */
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-item {
  justify-items: center;
}

.center-text {
  text-align: center;
}

.italic {
  font-style: italic;
}

.heading-secondary {
  font-style: italic;
  font-size: 2.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: #000000;
}

.secondary__red {
  line-height: 3.1rem;
  color: #ca003d;
}

.heading-tertiary {
  /* font-weight: 700; */
  font-size: 2rem;
  line-height: 2.6rem;
  color: #181a1d;
}

.sub-heading {
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  background: none;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #ffffff;
  padding: 1.2rem 2.4rem;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.4s;
}
.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  background-color: #ca003d;
}

.btn-primary:hover,
.btn-primary:active {
  color: #ca003d;
  background-color: #fff;
}
