/**************************/
/* BELOW 1568px (Some issues) */
/**************************/
@media (max-width: 98em) {
  .filter-box__ul {
    padding-left: 3.2rem;
  }

  .btn-add-to-cart,
  .btn-add-to-wishlist {
    padding: 1.6rem 1.4rem 1.6rem 1.8rem;
    gap: 0.6rem;
  }

  .single-product__quantity-box {
    gap: 1rem;
  }

  .single-product-right-side {
    padding: 2.4rem 2.7rem 3.2rem 2.7rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .header__middle-nav_ul {
    gap: 4.55rem;
  }

  .did-youknow__left-side {
    padding: 2.9rem 0 4.1rem 3.3rem;
  }

  .product-archive__filters-box {
    gap: 0;
  }

  .filter-box__ul {
    border-right: none;
  }

  .filter-box__ul:not(:last-child) {
    border-bottom: none;
  }

  .product-archive__content {
    column-gap: 0;
    margin: 0;
  }

  .product-archive__products-content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-archive__product .img {
    max-width: 219px;
  }

  .product__title,
  .product__price {
    max-width: 21.433rem;
  }
}

/**************************/
/* BELOW 1040px (Tablets) */
/**************************/

@media (max-width: 65em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .header {
    display: none;
  }

  .header-mobile {
    display: flex;
  }

  .mobile-menu {
    position: fixed;
    top: 83px;
    z-index: 99999;
    padding-right: 8.8rem;
    width: 100%;
  }

  .mobile-nav {
    box-shadow: 0px 4px 8px rgba(57, 48, 33, 0.2);
    background-color: #fff;
  }

  .icon-mobile-nav[name="close-outline"] {
    width: 20px;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .header__middle-nav_ul {
    gap: 0;
  }

  .header__middle-nav_list {
    padding: 3.2rem 0;
    margin: 0 3.2rem;
  }

  .header__middle-nav_list:not(:last-child) {
    border-bottom: 1px solid rgba(57, 48, 33, 0.1);
  }

  .section-sale__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-did-you-know {
    grid-template-columns: 1fr;
  }

  .did-youknow__left-side {
    border: 1px solid #e1e1e1;
    border-bottom: none;
  }

  .did-youknow__right-side {
    padding: 3.2rem;
  }

  .special-product__bigone {
    grid-column: span 1;
  }

  .section-special-products__content {
    grid-template-columns: 1fr 1fr;
  }

  .special-product__bigone .sub-heading {
    margin-top: 8px;
    max-width: 45.6rem;
  }

  .special-product__smallone .heading-tertiary {
    max-width: 28.7rem;
  }

  .special-product__bigone {
    padding: 2.4rem;
  }

  .footer-1__heading-2 {
    margin-top: 0;
  }

  .footer-content {
    grid-template-columns: 1fr;
    grid-gap: 4.8rem;
  }

  .footer-1__socials-box {
    display: none;
  }

  .footer-1__socials-box-tablet {
    display: block;
  }

  .active-filters-box {
    display: none;
  }

  .single-product__box {
    grid-template-columns: 1fr 1fr;
  }

  .single-product__left-side {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  .big-one {
    grid-column: span 3;
    padding: 0 2rem;
  }

  .big-one img {
    max-width: 322px;
    /* height: 526px; */
  }

  .small-one img {
    max-width: 100px;
  }

  .small-one {
    padding: 3.2rem;
  }

  .single-product__title {
    max-width: 380px;
  }

  .single-product__quantity-box {
    gap: 1.6rem;
  }

  .btn-add-to-cart,
  .btn-add-to-wishlist {
    padding: 1.6rem 2.8rem 1.6rem 2.8rem;
    gap: 1.6rem;
  }

  .similar-products-box {
    grid-template-columns: repeat(3, 1fr);
  }

  .similar-product:nth-child(7),
  .similar-product:nth-child(8) {
    display: none;
  }

  /* cart page */

  .btn-proceed-to-checkout {
    padding: 2rem;
  }

  .payment-methods {
    gap: 2.2rem;
  }

  .sticky + .mgn-32 {
    margin-top: 13.4rem;
  }
}

/**************************/
/* BELOW 784px (Smaller tablets) */
/**************************/

@media (max-width: 49em) {
  .product-archive__product {
    padding: 2rem;
    gap: 2rem;
  }

  .btn-shipping-save {
    justify-self: center;
  }

  .change-password-box .sub-heading {
    margin-left: 2rem;
  }
}

/**************************/
/* BELOW 672px (Smaller tablets) */
/**************************/

@media (max-width: 42em) {
  .sticky + .mgn-32 {
    margin-top: 13.4rem;
  }
  .tablet-margins {
    margin: 0 2rem;
  }

  .header-mobile {
    padding: 1.6rem 2rem;
  }

  .shopping-cart-info {
    padding: 0 2rem;
  }

  .special-product__bigone {
    grid-column: span 2;
  }

  .horizontal-border {
    display: none;
  }

  .metis-naxva,
  .metis-naxva:link,
  .metis-naxva:visited {
    display: none;
  }

  .section-special-products__header {
    display: flex;
    justify-content: center;
  }

  .metis-naxva-mobile,
  .metis-naxva-mobile:link,
  .metis-naxva-mobile:visited {
    display: block;
    width: max-content;
    margin: 3.2rem auto;
    color: #ca003d;
    background-color: #fff;
    font-style: italic;
  }

  .advertisement-not-mobile {
    display: none;
  }

  .section-new-collection {
    margin-top: 3.2rem;
  }

  .advertisement-mobile {
    display: block;
  }

  .footer-1__socials-box-tablet {
    display: none;
  }

  .footer-1__socials-box {
    display: none;
  }

  .footer-nav {
    display: none;
  }

  .footer-nav-mobile {
    display: flex;
    gap: 4.8rem;
  }

  .sale-product {
    padding: 3rem 2rem 1.6rem 2rem;
  }

  .sale-product .img {
    max-width: 127px;
  }

  /* .sponsors-aside img:nth-child(3) {
    margin-top: 6rem;
  } */

  /* SHOP PAGE */

  .product-archive__content {
    grid-template-columns: 1fr;
  }

  .product-archive__filters-box {
    display: none;
  }

  .sort-by-price-form {
    display: none;
  }

  .btn-filter-icon {
    display: flex;
  }

  .filter-open .filter-box__mobile {
    display: flex;
  }

  .single-product__box {
    grid-template-columns: 1fr;
  }

  .similar-products-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .similar-product:nth-child(5),
  .similar-product:nth-child(6) {
    display: none;
  }

  .single-product__title {
    max-width: max-content;
  }

  /* cart page */

  .section-cart {
    grid-template-columns: 1fr;
  }

  .cart-item {
    /* padding: 2.4rem; */
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-cart-item__right {
    gap: 2rem;
  }

  .wishlist-page .section-cart-item__right {
    margin-top: 2rem;
    flex-direction: row;
  }

  /* checkout */

  .section-checkout {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .checkout__right .checkbox-terms-conditions {
    padding-left: 2rem;
  }

  .item-amount {
    max-width: 100px;
  }

  /* profile */

  .section-profile {
    margin-bottom: 10.8rem;
  }

  .orders-table {
    display: none;
  }
  .orders-table--mobile {
    display: table;
  }
  .btn-profile-link {
    padding: 1.2rem 0;
  }

  .profile-nav {
    justify-content: start;
  }

  .profile-nav-ul {
    margin: 0 2rem;
  }
}
/**************************/
/* BELOW 576px (Phones) */
/**************************/

@media (max-width: 36em) {
  .product-archive__products-content {
    grid-template-columns: 1fr 1fr;
  }

  .product-img-box {
    min-height: 75%;
  }

  .change-password-box {
    column-gap: 1rem;
  }

  .change-password-box input {
    padding: 2rem;
  }

  .repeat {
    padding-right: 0 !important;
  }
}

/**************************/
/* BELOW 480px (Phones) */
/**************************/

@media (max-width: 30em) {
  .sale-product .special-product__title {
    font-size: 1.6rem;
  }

  .new-product .img {
    max-width: 254px;
  }

  .special-product__bigone .img {
    max-width: 252px;
  }

  .swiper-not-mobile {
    display: none !important;
  }

  .swiper-mobile {
    display: flex !important;
  }

  .product-archive__product {
    padding: 1.6rem;
    gap: 1.4rem;
  }

  .product-img-box {
    min-height: 68%;
  }

  .product-archive__product .img {
    max-width: 127px;
  }

  .single-product__quantity-box {
    display: none;
  }

  .number-input {
    grid-row: span 2;
    padding: 1.6rem 0;
    background: rgba(0, 0, 0, 0.05);
  }

  .quantity-box {
    align-items: normal;
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.6rem;
  }

  .quantity-input,
  .product-size {
    font-size: 1.6rem;
  }

  .product-sizes {
    gap: 1.4rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }

  .quantity-input-mobile {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-weight: 700;
  }

  .quantity-input-mobile::-webkit-inner-spin-button,
  .quantity-input-mobile::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .number-input {
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .number-input button {
    outline: none;
    border: none;
    background: none;
    width: 3.4rem;
    height: 3.4rem;
    cursor: pointer;
    margin: 0;
  }

  .minus {
    transform: rotate(180deg);
    /* margin-left: 10px !important; */
  }

  .quantity-input-mobile {
    display: inline-block;
    background: none;
    font-size: 2.4rem;
  }
  .quantity-input {
    padding: 1.8rem 2.8rem 1.8rem 4rem;
  }

  .btn-add-to-cart,
  .btn-add-to-wishlist {
    height: 100%;
    font-size: 1.8rem;
    line-height: 2.1rem;
    gap: 2.4rem;
  }

  .checkout__right {
    grid-template-columns: 1fr;
  }

  .checkout__right textarea,
  .btn-shipping-save,
  .change-password-box,
  .change-password-box .sub-heading {
    grid-column: span 1;
  }

  .change-password-box {
    grid-template-columns: 1fr;
  }

  .change-password-box .sub-heading {
    margin: 0;
    justify-self: center;
  }

  .change-password-box input {
    padding: 2.4rem;
  }

  .repeat {
    padding-right: 2.4rem !important;
  }
}

/**************************/
/* BELOW 384px (Phones) */
/**************************/

@media (max-width: 24em) {
  .sale-product .special-product__title {
    font-size: 1.4rem;
  }
}
